{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img-i7 img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro_i7.png' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">EN EL MERCADO</span>
          <span class="section-heading-lower">ÚNICO IPTV GAME</span>
        </h2>
        <p class="mb-3">Con la funcion de poder jugar viedeojuegos desde los más clásicos como Mario Bros hasta juego de la vanguardia como Freefire
        </p>

      </div>
    </div>
  </div>
</section>


<br>
<hr>


<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img-i7 img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro_i7_2.png' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">MÁS DE 50 CANALES HD</span>
          <span class="section-heading-lower">MÁS DE 150 CANALES 4K</span>
        </h2>
        <p class="mb-3"> Lo mejor en contenido de alta calidad!
        </p>

      </div>
    </div>
  </div>
</section>



{% endblock %}